}

#content {
  margin: 1em auto;
  text-align: center;
}

#content span {
  margin-right: 1em;
}

hr {
  border: 1px solid #EEE;
}

#status {
  color: green;
  text-align: center;
  margin: auto;
}

button {
  cursor: pointer;
  color: #333;
  min-height: 2em;
}

button:hover {
  color: black;
}
